#########################################################
# python files
#########################################################
env/

#########################################################
# visual studio
#########################################################
.vscode/

#########################################################
# PyCharm
#########################################################
.idea/
