#########################################################
# python files
#########################################################
env/
__pycache__/
bike-pricer-env/

#########################################################
# visual studio
#########################################################
.vscode/

#########################################################
# PyCharm
#########################################################
.idea/

#########################################################
# Project files
#########################################################
data/
tests/test_data/
manifest.csv

#########################################################
# Private files
#########################################################
credentials.csv
config.json
nohup.out
