#########################################################
# python files
#########################################################
env/
__pycache__/
bike-pricer-env/

#########################################################
# visual studio
#########################################################
.vscode/

#########################################################
# PyCharm
#########################################################
.idea/

#########################################################
# Project files
#########################################################
data/
munged_data/
tests/test_data/
manifest.csv

#########################################################
# jupyter notebook
#########################################################
.ipynb_checkpoints/
#########################################################
# Private files
#########################################################
credentials.csv
config.ini
nohup.out
